h1 {
  color: blue !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 400px !important;
  align : center !important;
}

input{
  border-radius: 10px;
  border-right: 1px solid blue;
}